@media all and (max-width:1000px){
    .content{
        width:50%;
    }
}

@media all and (max-width:670px){
    header{

    }
    
    .header-list a, .subscribe {
       display:none;
    }
    
   .menu-icon{
       display:block;
  }
    
}
