/*TABLET*/

@media (max-width:1000px)
{
    .header-list, .subscribe{
        display:none;
    }
   
    .header span{
        color:white;
        font-size:25px;
        display:block;
    }
 
    .content{
        width:50%;
    }

.container-footer p{
    display:flex;
    font-size: 24px;
    padding-bottom:20px;
    text-align: left;
    
  }   

  .footer-list a{
    font-size:12px;
    color:white;
    display:flex;
  }
