/*TABLET*/

@media (max-width:1000px)
{
    header{
        width:100%;
    }
    .header-list, .subscribe{
        display:none;
    }
    .content{
        width:50%;
    }
    
    .header span{
        color:white;
        float:right;
        font-size:25px;
        margin:0;
        display:block;
    }
 
.container-footer p{
    float:left;
    font-size: 24px;
    padding:20px;
    text-align: left;
  }   
.footer-list{
    float:right;
    text-align: right;
  }

  .footer-list a{
    font-size:12px;
    text-decoration: none;
    color:red;
    float:right;
    }
